@import "compass/reset";
@import "compass/typography/lists/inline-block-list";
@import "compass/typography/links";
@import "fittext";

$pad: 0.5em;

$sans: 'Gill Sans', Helvetica, sans-serif;

$gray: #1a1818;
$light-gray: #fdfdfd;
$black: #040404;
$light-blue: #008cba;
$dark-blue: #3c6888;
$fleming-blue: #005595;

body { background-color: $black; }

a { @include link-colors($gray, $black, $fleming-blue, $gray, $light-blue); }

header {
  background-color: $light-blue;
  padding: 0 2*$pad;
  text-align: center;
  font-family: $sans;
}

header section {
  background-color: $light-gray;
  max-width: 56em;
  margin: 0 auto;
}

header h1 {
  font-size: 2em;
  padding: $pad;
  @include fittext($min-media: 200px, $max-media: 1400px, $min-font-size: 2em, $max-font-size: 6em, $media-increment: 200, $font-increment: 1, $ratio: 1, $round: false);
}

header ul {
  @include inline-block-list();
  padding-bottom: 1em + $pad;
}

header li {
  padding: $pad;
  @include fittext($min-media: 200px, $max-media: 1400px, $min-font-size: 1em, $max-font-size: 2em, $media-increment: 200, $font-increment: 1, $ratio: 1, $round: false);
}

header a {
  @include link-colors($gray);
  @include hover-link();
}

article {
  line-height: 1.5em;
  color: $gray;
  background-color: $light-gray;
  font-size: 1.5em;
  padding: $pad;
  p, h1, ol, ul, a, img, table {
    max-width: 820px;
    margin: 0 auto;
  }
  h1 {
    font-size: 1.5em;
    padding-top: $pad;
  }
  ul {
    list-style: disc;
    padding-left: 2*2*$pad;
  }
}

footer {
  padding: 2 * $pad;
  padding-left: $pad;
  color: $dark-blue;
  max-width: 56em;
  margin: 0 auto;
}

footer a {
  @include link-colors($fleming-blue, $dark-blue, $fleming-blue, $fleming-blue);
  @include hover-link();
}

footer ul {
  display: inline-block;
  padding: $pad * 2;
  padding-right: $pad * 3;
}

footer li {
  font-size: 1.25em;
  line-height: 1.25em;
}

footer ul:last-child li {
  display: inline-block;
  padding-bottom: 2*$pad;
  font-family: $sans;
}

footer ul:last-child li:first-child {
  display: block;
  font-size: 1.75em;
}

footer ul:last-child li:nth-child(2) { padding-right: 4*$pad; }

footer ul:first-child li {
  font-size: 1.5em;
  padding-bottom: 0.2em;
  font-family: $sans;
}
