<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ site.name }} &mdash; {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.description }}" />
    <meta name="keywords" content="{{ page.keywords }}" />
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/foundation.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <!--
    <link href="{{ site.baseurl }}/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/min.css" />
    -->
    <script src="/js/modernizr.js"></script>

  </head>
  <body>

  <div class="container">
    <div class="site">
      <header id="header" class="row">
      <a class="medium-8 columns" href="{{ site.baseurl }}/">
          <div class="row">
            <div class="medium-5 columns logo">
              <img src="{{ site.baseurl }}/img/logo-sm.png"
                alt="Meyer Companies logo"
                title="Meyer Companies Logo" />
            </div>
            <h1 class="title medium-7 columns">Meyer Companies</h1>
          </div>
        </a>
        <div id="headerinfo" class="medium-4 columns">
          <a href="tel:+18162464800">816.246.4800</a>
          <a href="mailto:info@meyer-companies.com?subject=Inquiry from website">info@meyer-companies.com</a>
        </div>
      </header>
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name"><h1><a href="{{ site.baseurl }}/">Home</a></h1></li>
          <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
        </ul>
        <section class="top-bar-section">
        <ul class="right">
            <li><a href="{{ site.baseurl }}/the-meyerco.html">Who We Are</a></li>
            <li><a href="{{ site.baseurl }}/values.html">Values</a></li>
            <li><a href="{{ site.baseurl }}/profile.html">Profile</a></li>
            <li><a href="{{ site.baseurl }}/approach.html">Approach</a></li>
            <li><a href="{{ site.baseurl }}/advantage.html">Advantage</a></li>
        </ul>
        </section>
      </nav>
      <article>
{{ content | prettyprint }}
      </article>
      <footer class="row">
        <div class="medium-5 columns">
           <p>
             &copy; 2014 Meyer Companies, Inc.<br/>
             800 E 101st Terrace, Suite 120<br/>
             Kansas City, MO 64131<br/>
           </p>
           <p>Phone: <a href="tel:+8162464800">816.246.4800</a><br/>
           Fax: 816.246.4850<br/>
           <a href="mailto:info@meyer-companies.com?subject=Inquiry from website">
             info@meyer-companies.com</a><br/>
           <a href="#header">back to top</a></p>
        </div>
        <div class="medium-7 columns">
            <h1>Affiliates</h1>
            <p><a href="http://heise-meyer.com"><img src="{{ site.baseurl }}/img/hm-logo-sm.png" alt="Heise-Meyer logo" title="Heise-Meyer" /></a>
            <a href="http://meyerbro.com"><img src="{{ site.baseurl }}/img/mbbc-logo-sm.png" alt="MBBC logo" title="Meyer Brothers Building Company" /></a></p>
        </div>
      </footer>
      <script src="{{ site.baseurl }}/js/min.js"></script>
      <script>
        $(document).foundation();
      </script>
  </body>
</html>
